services/n8n/workflows/email-summarize.json
{
  "name": "Email-Eingang summarisieren",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email-incoming",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Email-Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "email-incoming"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://dashboard-backend:3001/api/v1/external/llm/chat",
        "authentication": "genericCredentialType",
        "genericAuthType": "headerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"Fasse die folgende E-Mail in maximal 3 Bullet-Punkten zusammen. Antworte nur in Deutsch:\\n\\n\" + ($json.body || $json.text || ''),\n  \"max_tokens\": 256,\n  \"thinking\": false,\n  \"wait_for_result\": true\n}",
        "options": { "timeout": 60000 }
      },
      "id": "summarize",
      "name": "Mit Arasul-LLM zusammenfassen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "arasul-api-key", "name": "Arasul API Key" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"summary\": $json.response, \"original_subject\": $('Email-Webhook').item.json.subject || '' }",
        "options": {}
      },
      "id": "respond",
      "name": "Antwort senden",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Email-Webhook": {
      "main": [[{ "node": "Mit Arasul-LLM zusammenfassen", "type": "main", "index": 0 }]]
    },
    "Mit Arasul-LLM zusammenfassen": {
      "main": [[{ "node": "Antwort senden", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "meta": {
    "templateId": "arasul-email-summarize",
    "templateDescription": "Empfaengt E-Mails ueber Webhook und liefert eine 3-Bullet-Zusammenfassung. Ideal als Vor-Filter fuer Kanzlei-Inbox.",
    "templateCategory": "general",
    "templateRequiresAuth": ["arasul-api-key"]
  },
  "pinData": {}
}
